@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Science+Gothic:wght@100..900&display=swap');

html {
    font-family: "Caveat Brush", cursive;
    background-color: aquamarine;
    color: salmon;
    font-size: 30px; /* base size */
}

.homeLinks{
    size:100px;
}

.homeLogo{
    width:150px;
    height:150px;
}