<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/useless.css">
    <link rel="icon" href="/uselessFactsFav.png">
    <title>Main Page</title>
</head>
<body>
    <a href="/">
        <img class="homeLogo" src="/uselessFactsLogo.png" alt="Useless Facts Logo">
    </a>

    <h1>Here's your useless fact...</h1>

</body>
</html>