<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/useless.css">
    <link rel="icon" href="/uselessFactsFav.png">
    <title>Home Page</title>
</head>
<body>
    <a href="/">
        <img class="homeLogo" src="/uselessFactsLogo.png" alt="Useless Facts Logo">
    </a>

    <h1>Welcome to Useless Facts</h1>

    Here we have all the facts and all the useless! If you have time on your hands, you're in the right place!! Enjoy!

    <h2>
        <a href="/browse" class="homeLinks">Browse Facts and Comments!</a>
    </h2>
    Enjoy our assortment of facts that are wonderfully 100% useless, and see what others had to say! It's not X.com, we swear. 
    <h2>
        <a href="/fact" class="homeLinks">Generate Random Fact!</a>
    </h2>
    Feeling Lucky? We're not ripping Google, please have mercy.
</body>
</html>